// Variables
$font-stack:    Helvetica, sans-serif;

// color

$primary-color: #f3f6f9;
$div-back:	#ffffff;
$list-first:	#f2effe;
$pending:#ffdd66;
$success: #71d875;
$cancel: #ff5274;
$hover: #7f63f4;
$yellow: #ffc107;
$green: #4caf50;
$blue: #2290ff;
$orange: #ff5722;
$purple: #673bb7;